@model AspVideoRental.Models.RentedMovies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RentedMovies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieIDFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieIDFK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustIDFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustIDFK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRented)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRented)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReturned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReturned)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RMID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
