@model IEnumerable<AspVideoRental.Models.RentedMovies>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieIDFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustIDFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRented)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReturned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieIDFK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustIDFK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRented)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReturned)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RMID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RMID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RMID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
